body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'fraunces', serif;
  background-color: aqua;
  background-color: #224870;
  
}

code {
  font-family: 'fraunces', serif,
    monospace;
}
